{% extends 'base.html.twig' %}

{% block title %}Twitch{% endblock %}

{% block body %}
<style>
    body {background-color: rgb(100, 65, 164); color: #FFF;}
    .example-wrapper { margin: 1em auto; max-width: 50%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .post_heading { font-size: 1.5em }
    .post_even { padding: 1em; background: rgb(211, 200, 233); color: #000;}
    .post_odd { padding: 1em; background: rgb(238, 238, 238); color: #000;}
    .stream_type { color: #333;}
</style>

<div class="example-wrapper">
    <h1>Twitch Feed</h1>

    {% for stream in streams_array %}
        <div class="{{ cycle(['post_even','post_odd'], loop.index0) }} %}">
            <table>
                <tr><td><img src="{{ stream.thumbnail_url | replace({'{width}': '200', '{height}': '100'}) }}"></td></tr>
            <tr><td>
                <span class="post_heading">{{ stream.title }}</span><br>
                <span class="stream_type">{{ stream.type }}</span> | <span class="viewer_count">{{ stream.viewer_count }} viewers</span>
                </td></tr>
            </table>

        </div>
    {% endfor %}

{% endblock %}
